# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.env.*
.venv/

# Data
/data/raw/*.tmp
/data/raw/*.log
/data/processed/*.tmp
data/dedup_cache.json

# VSCode
.vscode/

# Docker
*.log

# DVC
.dvc/

dvc_store/
